// Variables
$primary-color: #2C3E50;
$secondary-color: #E0E0E0;
$background-color: #fff;
$highlight-color: #FF6B6B;
$hover: #007B7F;

// Mixins
@mixin transition($properties) {
  transition: $properties;
}

// Global styles
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  color: #000;
}

h2 {
  color: #000 !important;
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $background-color !important;
}

span {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: $background-color !important;
    ;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    @include transition(all 0.1s ease-in-out);
  }

  &:hover::before {
    transform: scaleY(1);
    background-color: green !important;
    color: #fff;
  }
}

/* header styling */
.container {
  margin-top: 2rem;
}

.nav-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .navbar {
    background-color: $background-color !important;
    ;
    border-radius: 50px;

    &:hover {
      background-color: $hover !important;
      @include transition(1s);
    }
  }

  a {
    color: #000000;

    &:hover {
      scale: 1.06;
      background-color: $hover !important;
      color: aliceblue;
      border-radius: 50px;
      @include transition(1s);
    }
  }
}

/* carousel styling */
.carousel {
  width: 100%;
  margin: auto;
  padding: 50px;

  .carousel-inner {
    border-radius: 50px;
  }
}

/* activities styling */
.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    border-radius: 30px !important;
    padding: 5px;



    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: $background-color !important;
      ;
    }
  }
}

/* school stars */
.card {
  background-color: $background-color !important;
  ;

  &:hover {
    scale: 1.06;
    background-color: $hover !important;
    @include transition(1s);
  }

  img:hover {
    scale: 1.05;
    @include transition(1s);
  }

  .stars {
    display: flex;
    justify-content: space-evenly;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      height: 300px;
      border-radius: 10%;
    }

    .title {
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

/* mab */
.footer {
  display: flex;
  flex-direction: column;

  iframe {
    width: 100%;
    height: 360px;
  }

  .mab {
    .contact {
      .card {

        background-color: $background-color !important;
        ;
      }

      .col-sm-6 {

        width: 500%;
      }

      .row {
        .address {

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 360px;
          background-color: $background-color !important;
          ;

          .one {
            margin-top: 20px;
            padding: 5px 4% !important;
            text-align: center;
          }

          .tow {
            padding: 5px 7% !important;
            text-align: center;
          }

          .tree {
            padding: 5px 15% !important;
            text-align: center;
          }

          .four {
            padding: 5px 20% !important;
            text-align: center;
          }

          .five {
            padding: 5px 25% !important;
            text-align: center;
          }

          .six {
            padding: 5px 5% !important;
            text-align: center;
          }

        }



      }
    }
  }
}

/* page log in styles */
.log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  border-radius: 50px;
  background-color: $background-color !important;

  .error-message {
    margin: 5px;
    padding: 5px;
    color: rgb(235, 0, 0);
  }

  &:hover {
    scale: 1.06;
    background-color: $hover !important;
    @include transition(1s);
  }
}

/* page sign-up styles */
.gradient-custom {
  background: #918703;
  background: -webkit-linear-gradient(to bottom right, rgb(104, 192, 3), rgb(37, 184, 4));
  background: linear-gradient(to bottom right, rgba(172, 210, 0, 0.802), rgba(245, 87, 108, 1));

  .card-registration {
    .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: 0.75em;
      padding-right: 0.75em;
    }

    .select-arrow {
      top: 13px;
    }
  }
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* 1-student styling */
.student-card {
  .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }

  h2 {
    text-align: center;
    margin-top: 2rem;
  }
}

/* table styling 1-student */
.card-m {
  table {

    td,
    th {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .table-scroll {
    border-radius: 0.5rem;

    table {
      thead {
        th {
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

/* process styling */
.process-box {
  background: #fff;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 7px 0 #00000057;

  &.process-left:after,
  &.process-right:after {
    content: "";
    display: inline-grid;
    position: absolute;
    top: 42%;
    transform: rotate(45deg);
    z-index: 1;
  }

  &.process-left:after {
    border-top: 15px solid #ffffff;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff;
    right: -15px;
    box-shadow: 3px -2px 3px 0px #00000036;
  }

  &.process-right:after {
    border-top: 15px solid #ffffff00;
    border-bottom: 15px solid #ffffff;
    border-left: 15px solid #ffffff;
    border-right: 15px solid #ffffff00;
    left: -15px;
    box-shadow: -1px 1px 3px 0px #0000001a;
  }

  .process-step {
    background: $background-color !important;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    height: 100%;
    padding-top: 8px;
    position: relative;
    top: -26px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 0px 0px #00000014;

    p {
      font-size: 20px;
    }

    h2 {
      font-size: 39px;
    }
  }
}

.step {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .row {
    margin: 2rem;
  }
}

/* 2-student styling */
.content-info {
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding-bottom: 100px;
  display: inline-block;
  justify-content: center;

}



table thead tr th {
  padding: 20px;
  border: 1px solid #dedede;
  color: #000;
}


table.result-point tr td.number {
  width: 100px;
  position: relative;
}


table tr td {
  padding: 10px 20px;
  border: 1px solid #dedede;
}



table tr td {
  padding: 10px 40px;
  border: 1px solid #dedede;
}